{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <title>ExperienceIn</title>
    <link href="{% static "styles/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "styles/main.css" %}" rel="stylesheet">
</head>

<body>
<br>
<div class="container">
    <h1>Banco Nacional</h1><br>
    <div class="card">
        <div class="card-body">
            <strong>Senhas na fila</strong><br><br>

            <table class="table">
                <thead>
                <tr>
                    <th scope="col">SENHA</th>
                    <th scope="col">CATEGORIA</th>
                    <th scope="col">TIPO</th>
                    <th scope="col">DATA</th>
                </tr>
                </thead>
                <tbody>

                {% if senhas_na_fila %}
                    {% for senha in senhas_na_fila %}
                        <tr>
                            <th scope="row">{{ senha.senha }}</th>
                            <td>{{ senha.categoria.nome }}</td>
                            <td>{{ senha.tipo.nome }}</td>
                            <td>{{ senha.hora_data }}</td>
                        </tr>
                    {% endfor %}

                    </tbody>
                {% else %}
                    <p>Nenhuma senha na fila</p>
                {% endif %}
            </table>
        </div>
    </div>
</div>

<br><br>

<div class="container">
    <div class="card">
        <div class="card-body">
            <strong>Outras senhas</strong><br><br>
            {% if senhas_outras %}
                <table class="table">
                <thead>
                <tr>
                    <th scope="col">SENHA</th>
                    <th scope="col">CATEGORIA</th>
                    <th scope="col">TIPO</th>
                    <th scope="col">DATA</th>
                    <th scope="col">STATUS</th>
                </tr>
                </thead>
                <tbody>

                {% for senha in senhas_outras %}
                    <tr>
                        <th>{{ senha.senha }}</th>
                        <td>{{ senha.categoria.nome }}</td>
                        <td>{{ senha.tipo.nome }}</td>
                        <td>{{ senha.hora_data }}</td>
                        <td>{{ senha.status_senha.nome }}</td>
                    </tr>
                {% endfor %}

                </tbody>
            {% else %}
                <p>Nenhuma senha em outra categoria</p>
            {% endif %}
            </table>

        </div>
    </div>
</div>
</body>

</html>